@use "variables" as v;
@use "mixins" as m;


body {
  font-family: v.$font-family1;
  font-size: 16px;
  line-height: 1.5em;
  color: black;
}

p {
  margin: 0 0 16px 0;
}

button, .button, a.button, input[type=submit] {
  display: inline-block;
  background: v.$blue400;
  color: white;
  border-radius: 5px;
  border: 1px solid v.$blue400;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 38px 15px 33px;
  @include m.transition;

  &:hover, &:focus {
    border-color: v.$blue100;
    background: v.$blue100;
  }
}

.button {
  &#{&}--red {
    background: v.$red500;
    border: 1px solid v.$red500;
    
    &:hover, &:focus {
      border-color: v.$red400;
      background: v.$red400;
    }
  }

  &#{&}--green {
    background: v.$green500;
    border: 1px solid v.$green500;
    
    &:hover, &:focus {
      border-color: v.$green400;
      background: v.$green400;
    }
  }
}

a.button {
  text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-family: v.$font-family2;
}

h1 {
  font-size: 42px;
  line-height: 58px;

  @include m.breakpoint(small) {
    font-size: 52px;
    line-height: 63px;
  }
}

h2 {
  font-size: 36px;
  line-height: 65px;

  @include m.breakpoint(small) {
    font-size: 42px;
    line-height: 58px;
  }
}

h3 {
  font-size: 26px;
  line-height: 33px;

  @include m.breakpoint(small) {
    font-size: 36px;
    line-height: 65px;
  }
}

h4 {
  font-size: 20px;
  line-height: 28px;

  @include m.breakpoint(small) {
    font-size: 26px;
    line-height: 33px;
  }
}

h5, h6 {
  font-size: 16px;
  line-height: 24px;
}

