$breakpoints: (
  small: 768px,
  medium: 992px,
  large: 1240x,
  xlarge: 1600px,
);

$breakpointsMax: (
  xsmall: 767px,
  small: 991px,
  medium: 1239px,
  large: 1599px,
);

$font-family1: 'Jost', sans-serif;
$font-family2: 'Rubik', sans-serif;


$blue100: #1297D2;
$blue200: #23ADEB;
$blue300: #6AB9FF;
$blue400: #68B4F8;
$blue500: #E6F3FF;

$red300: #e0767f;
$red400: #c5303d;
$red500: #c50e1d;

$green300: #8fcc8f;
$green400: #316631;
$green500: #176b17;

